body {
    width: 100%;
    height: 100vh;
    background: #F8F9FA;
    margin: 0;
    display: flex;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

aside {
    padding: 20px;
    padding-left: 30px;
    box-sizing: border-box;
    height: 100%;
    width: 15%;
    background-color: #142167;
    display: flex;
    flex-direction: column;
    color: white;
}

aside section {
    margin-bottom: 20px;
}
aside section h1 {
    font-size: 18px;
}
#navAvatar{
    width: 90px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid;
    border-color: rgb(39, 135, 154);
}


aside img {
    width: 240px;
    height: auto;
    align-self: center;
}
.asignaturas-container {
    display: flex;
    flex-direction: column;
}
.asignatura{
    color: yellow;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    color: red;
    list-style-type: none;
}
#addAsignatura{
    align-self: center;
    font-family: 'Inter', sans-serif;
    color: white;
    background: transparent;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
}
a{
    text-decoration: none;
}

.opciones-container{
    margin-top: auto;
    width: 100%;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navmenu-opciones{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 90%;
}
.navmenu-opciones span{
    color: white;
    font-size: 14px;
}
.navmenu-opciones img{
    width: 20px;
    height: auto;
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    overflow:hidden;
}
header{
    flex-shrink: 0;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
}

#panel{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:20px;
    padding:20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.fila1{
    grid-column: span 3;
}
.resto{
    grid-column: span 2;
}
.caja{
    border: 1px solid #BDBDBD;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
}
.btn-add{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BDBDBD;
    background: transparent;
    font-weight: 200;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    border: 1px solid;
    border-color: #BDBDBD;
    border-radius: 30px;
}
h2{
    font-size: 18px;
}
#listaTareas {
    flex-grow: 1;
    height:0;
    overflow-y: auto;
    padding-right: 10px;
    list-style: none;
    margin:0;
}
.cabecera {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
}


.tarea{
    color: rgb(56, 56, 56);
    display: flex;
    margin-bottom: 10px;
    padding: 0px 20px 0px 20px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.checbox-tarea{
    width: 15px;
    height:15px;
    margin-right: 10px;
    cursor: pointer;
    flex-shrink: 0;
}
.nombre-tarea{
    font-weight: 700;
    flex-grow: 1;
    font-size: 14px;
}
.fecha-tarea{
    font-weight: 700;
    font-size: 14px;
    flex-shrink: 0;
}

.papelera-tarea{
    margin-left: 10px;
    flex-shrink: 0;
    width:20px;
    cursor: pointer;
}



#modalTarea{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.modal-oculto{
    display: none !important;
}
.contenido-modal{
    background: white;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}